# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.logs*
yarn-debug.logs*
yarn-error.logs*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# python
*.csv#
*.csv
*.png
*.bmp
*.pyc
*.pt
*.pth
*.log
*.jpg
__pycache__
annotation_check
dataset
training_backup
.history/
.ipynb_checkpoints
model_weights
results
data_test
annotated_images